<h1>Editing Event Type</h1>

<%= render 'form' %>

<%= link_to 'Show', admin_workspace_event_type_path(current_workspace, @event_type) %> |
<%= link_to 'Back', admin_workspace_event_types_path(current_workspace) %>
